.responsive-menu {
  position: relative;
  z-index: 1000;
  *zoom: 1; }
  .responsive-menu ul, .responsive-menu li {
    margin: 0;
    padding: 0; }
  .responsive-menu:before, .responsive-menu:after {
    content: "";
    display: table; }
  .responsive-menu:after {
    clear: both; }
  .responsive-menu > ul {
    display: none;
    z-index: 100;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 100%; }
  .responsive-menu li {
    text-align: left;
    display: block; }
    .responsive-menu li a {
      background-color: white;
      color: #111;
      padding: 0.7em;
      display: block; }
      .responsive-menu li a:hover {
        background-color: #dddddd; }
    .responsive-menu li li a {
      padding-left: 1.4em; }

.rm-right > ul {
  right: 0; }

.rm-toggle {
  margin: 0;
  background-color: #111111;
  color: white;
  cursor: pointer;
  padding: 0.7em;
  border: none;
  border-radius: 0;
  outline: 0; }
  .rm-toggle:hover {
    background-color: #ff4136; }
  .rm-left .rm-toggle {
    float: left; }
  .rm-right .rm-toggle {
    float: right; }
  .rm-toggle .rm-label {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-right: 0.5em; }
